<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096641068105-mqdv61cotuhahhaas63rc2d2tsb39h81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096641068105-mqdv61cotuhahhaas63rc2d2tsb39h81</string>
	<key>API_KEY</key>
	<string>AIzaSyDF6hqsqqX7iNQcrVWgEwFB5BqVEd3hYx8</string>
	<key>GCM_SENDER_ID</key>
	<string>1096641068105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1c437</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1c437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096641068105:ios:55b2f881c433293a88d398</string>
</dict>
</plist>